@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #2685ba;
  --color-secondary: #0b1b56ff;
  --color-tertiaty: #99a0a3;
}

html,
body,
* {
  font-family: 'Urbanist', sans-serif !important;
}

a { 
  @apply text-primary;
}

a:hover {
  @apply border-b-2 border-primary;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.play-regular {
  font-family: "Play", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
}

::selection {
  background-color: #2685ba;
  color: white;
}

::-moz-selection {
  background-color: #2685ba;
  color: white;
}
